/* You can add global styles to this file, and also import other style files */
html,
body {
  background-color: #1f1719;
}

* {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

button {
  border: none;
}
